
header {
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #FF99C8; 
    padding: 20px 20px; 
    text-align: center; 
    z-index: 1000;  
}
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 80px;
    margin: 80px;
  }
  
  footer {
    bottom: 0;
    width: 100%; 
    text-align: center;
    background: #FF99C8;
    color: white;
    padding: 10px 0;
  }
  
  body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #e27396;
    font-style: italic;
    text-shadow: #000000;
    text-align: center;
    padding-top: 70px;
    background-color: #FFC8DD;
    margin: 0;
}

 h1{
    font-size: 35px;
 }

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-color: #FF99C8;
    border-style:double;
    padding: 40px;
    max-width: 2000px;
    margin: auto;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 1500px;
}

.sweet {
    min-width: 100px;
    margin: 0 40px;
    text-align: center;
}

.sweet img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.sweet img:hover {
    transform: scale(1.1);
}

button {
    background-color:#FFC8DD;
    color:#FF99C8;
    border: double;
    border-color: #FF99C8; 
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 30%;
}

button:hover {
    background-color: #FF99C8
}


#home{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 300px;
    background-color: #FF99C8;
    opacity: 1;
    background-image: linear-gradient(to right, #fcfcfc, #fcfcfc 18.5px, #FF99C8 18.5px, #FF99C8 );
    background-size: 37px 100%;
}

h2{
    color: #000000;
    font-weight: 16;
}
.img-header{
    height: 30px;
}

.catalogo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.produtos {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
  gap: 20px;
}

.produto {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.produto img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

button.adicionar-carrinho {
  background-color: #e27396;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
}

.carrinho {
  width: 25%;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  position: sticky;
  top: 10px;
  right: 0;
  height: fit-content;
}

.carrinho ul {
  list-style: none;
  padding: 0;
}

.carrinho ul li {
  background: #fff;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.remover-item {
  max-height: 35px;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

