
header {
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #FF99C8; 
    padding: 20px 20px; 
    text-align: center; 
    z-index: 1000;  
}
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 80px;
    margin: 80px;
  }
  
  footer {
    bottom: 0;
    width: 100%; 
    text-align: center;
    background: #FF99C8;
    color: white;
    padding: 10px 0;
  }
  
  body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #e27396;
    font-style: italic;
    text-shadow: #000000;
    text-align: center;
    padding-top: 70px;
    background-color: #FFC8DD;
    margin: 0;
}

 h1{
    font-size: 35px;
 }

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-color: #FF99C8;
    border-style:double;
    padding: 30px;
    max-width: 3000px;
    margin: auto;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 2000px;
}

.sweet {
    min-width: 100px;
    margin: 0 10px;
    text-align: center;
}

.sweet img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.sweet img:hover {
    transform: scale(1.1);
}

button {
    background-color:#FFC8DD;
    color:#FF99C8;
    border: double;
    border-color: #FF99C8; 
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 30%;
}

button:hover {
    background-color: #FF99C8
}


#home{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 300px;
    background-color: #FF99C8;
    opacity: 1;
    background-image: linear-gradient(to right, #fcfcfc, #fcfcfc 18.5px, #FF99C8 18.5px, #FF99C8 );
    background-size: 37px 100%;
}

h2{
    color: #000000;
    font-weight: 16;
}
.img-header{
    height: 30px;
}


